@model Model.Models.Empresa

@{
    ViewBag.Title = "Index";
}

<center>
    <div class="row ">
        <div class="col-lg-12">
            <div style="padding: 10px;">
                <div class="row thumbnail">
                    <h2>BEM VINDO AO SISTEMA DELIVERY AGUA E GÁS - EMPRESA</h2>
                </div>
            </div>
        </div>
    </div>
</center>